/* タブレット対応 */
@media (max-width: 1000px) {
  header {
    height: 100px;
    /* background-color: red; */
  }

  nav {
    display: none;
  }

  section img {
    width: 100%;
  }


  table {
    width: 90%;
  }

  .inspection h4, .inspection p {
    margin-left: 0%;
  }

  .oil table {
    width: 100%;
  }

  footer img {
    max-width: 100%;
  }

}

/* スマホ対応 */
@media (max-width: 670px) {
 
  .inspection h4 {
    margin-top: 20px;
  }

  footer img {
    max-width: 80%;
  }

  th,td {
    border-bottom: none;
    display: block;
    width: 100%;
  }
}
