/* タブレット対応 */
@media (max-width: 1000px) {
  header {
    height: 100px;
    /* background-color: red; */
  }

  nav {
    display: none;
  }

  section img {
    width: 100%;
  }
}

/* スマホ対応 */
@media (max-width: 670px) {
}
