/* タブレット対応 */
@media (max-width: 1000px) {
  /* メニュー開閉ボタン */
  .menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 101;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255, 0.8);
    /* 下記の説明　文字の色を指定してあげているからhtmlで<i></i>の中に文字を入力してあげる(今回は文字コードを指定している) */
    color: black;
  }

  /*----------------------------
* メニュー本体
*----------------------------*/
  .menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #555;
  }
  .menu__item {
    width: 100%;
    height: auto;
    padding: 0.5em 1em;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
  }

  /* アニメーション部分  始まり*/
  /* アニメーション前のメニューの状態 */
  .menu {
    transform: translateX(100vw);
    transition: all 0.3s linear;
  }
  /* アニメーション後のメニューの状態 */
  .menu.is-active {
    transform: translateX(0);
  }
  /* アニメーション部分  終わり*/

  .menu__item a {
    color: seashell;
    font-size: x-large;
    text-decoration: none;
  }

  header {
    height: 100px;
    /* background-color: red; */
  }

  header img {
    max-width: 90%;
    height: auto;
  }

  header h1 {
    padding-left: 0px;
    margin-left: 27%;
    margin-right: 10%;
  }

  nav {
    display: none;
  }

  section img {
    width: 100%;
  }

  table {
    width: 90%;
  }

  .inspection h4,
  .inspection p {
    margin-left: 0%;
  }

  .oil table {
    width: 100%;
  }

  footer img {
    max-width: 100%;
  }
}

/* スマホ対応 */
@media (max-width: 670px) {
  .inspection h4 {
    margin-top: 20px;
  }

  footer img {
    max-width: 80%;
  }

  th,
  td {
    border-bottom: none;
    display: block;
    width: 100%;
  }

  header h1 {
    max-width: 70%;
    margin-left: 0;
    margin-right: 0;
  }
}
